# I would write stuff to be ignored here, immediately
# after intializing git. To not accidentally track 
# files with sensitive content.
# In this project, I have none though, but  I am still creating one
# notwithstanding.
